.App {
  text-align: center;
}
body{
  /* background-image: url("https://images.pexels.com/photos/94273/jetty-beach-sunset-sea-94273.jpeg"); */
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:rgb(223, 205, 205);
  background-size: cover;
  opacity: 0.9;
}

.container{
  display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100%;
}
  .form-box{
      width:380px;
      height:450px;
      background-color:black;
      padding:20px;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      opacity:0.5;
      border-radius:2%;
  }
.header-form{
  margin-bottom:15px;
}
button{
  margin-top:40px;
  margin-bottom:15px;
}
.message{
  display:flex;
  justify-content:space-between
}
.social{
  display:flex;
  justify-content:space-around;
  padding:30px;
}

.social i{
  /* font-size:35px; */
}

.social i:hover{
  color:red;
  cursor:pointer;
}


